html, body { width: 100%; }

html {
  scroll-behavior: smooth;
}

body {
  background-color: #00517c;
  box-sizing: border-box;
  margin: 0;
  padding: 20px 5%;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #FFF;
}

@media (min-width: 576px) {
  body {
	padding: 20px;
	font-size: 16px;
	line-height: 22px;
  }
}

@media (min-width: 992px) {
  main {
	width: 900px;
	margin: 0 auto;
  }
}

h1, h2, h3 {
  color: #8bc34a;
  line-height: 1.2;
}
h3 {
  margin-top: 2rem;
}

ul {
  padding-left: 1em;
}
li {
  margin-bottom: 1rem;
}

a {
  color: #039be5;
  word-wrap: break-word;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

nav {
  margin: 2em 0;
}
nav a {
  margin-left: 1em;
}
nav a:first-child {
  margin-left: 0;
}

.sources {
  font-size: 0.875rem;
}